In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
# series  - column in a table
# 1D array holding data of any type
a=[1,7,2]
myvar=pd.Series(a)
myvar

0    1
1    7
2    2
dtype: int64

In [5]:
myvar1=pd.Series(a,index=['x','y','z'])
myvar1

x    1
y    7
z    2
dtype: int64

In [6]:
calories={ 'day1':420, 'day2':380, 'day3':390}
myres=pd.Series(calories)
myres

day1    420
day2    380
day3    390
dtype: int64

In [7]:
myres1=pd.Series(calories,index=['day1','day2'])
myres1

day1    420
day2    380
dtype: int64

In [8]:
# Data Frame - to load into table structure
data = {
    'calories':[420,380,390],
    'duration':[50,40,45]
}

df=pd.DataFrame(data)
df

   calories  duration
0       420        50
1       380        40
2       390        45

In [9]:
df.head(2)

   calories  duration
0       420        50
1       380        40

In [13]:
df.columns

Index(['calories', 'duration'], dtype='object')

In [14]:
df['duration']

0    50
1    40
2    45
Name: duration, dtype: int64

In [15]:
df[['duration','calories']]

   duration  calories
0        50       420
1        40       380
2        45       390

In [17]:
df[df['calories']>400]

   calories  duration
0       420        50

In [18]:
df['time']=['2 DAYS','3 DAYS', '4 DAYS']

In [19]:
df

   calories  duration    time
0       420        50  2 DAYS
1       380        40  3 DAYS
2       390        45  4 DAYS

In [23]:
df=df.drop('time',axis=1)

In [24]:
df

   duration
0        50
1        40
2        45